body {
    background-color: gray;
}

.parent {
   margin-left: 20px;
   padding: 10px;
   background-color: rgb(75, 74, 74);
   width: 20%;
   border-radius: 10px;
   box-shadow: 0 5px 10px black;
}
p {
    padding: 5px;
    color: rgb(207, 207, 207);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}